.dropdown-box {
    position: fixed;
    right: 0;
    top: 2.8em;
    /* border: 1px solid red; */
    width: 20%;
    padding: 1em 0em 1em 0em;
    background-color: white;
    margin-right: 0.3em;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    background-color: var(--light-green);
    /* background-color: rgba(175, 225, 175, 0.5) */
    
}

.menu-element {
    list-style: none;
    padding: 0.3em;
   
}

.menu-element:hover {
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    
}