header {
    width: 100vw;
    min-height: 3.5em;
    padding: 0.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 3.5px solid var(--dark-green);
}

.header-title {
    margin-left: 1em;
    font-size: 15px;
    font-family:'Lora', serif;
}

nav {
    display: flex;
    /* margin-left: 3em; */
}

.hamburger-menu {
    font-size: 22px;
    margin-right: 1em;
}

.side-menu {
    min-height: 100vh;
    width: 60%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    border-left: 8px solid var(--dark-green);
    transition: all 0.5s ease-in-out;
}

.no-side-menu {
    display: none;
}

.xmark-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    padding: 1em 1em 0 1em;
    transition: all 0.5s ease-in-out;
}

.xmark {
    font-size: 22px;

}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid red; */
    padding: 1em;
    /* transition: all 0.5s; */
}

.nav-topic {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}

.nav-list-desktop {
    display: none;
}

@media screen and (min-width: 1000px) {
    .hamburger-menu {
        display: none;
    }

    .xmark-container {
        display: none;
    }

   .nav-list-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1em;
    }

   .header-title {
    margin-left: 1em;
    font-size: 25px;
    font-family:'Lora', serif;
    }

   .nav-topic {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    margin: 0.50em;
   } 

   .nav-topic:hover {
    background-color: var(--dark-green);
    cursor: pointer;
   }
}