header {
    width: 100vw;
    height: 3.5em;
    padding: 0.25em;
    display: flex;
    align-items: center;
    background-color: var(--light-green);
}

.header-title {
    margin-right: 12em;
    font-size: 16px;
}

nav {
    display: flex;
    /* margin-left: 3em; */
}

.hamburger-menu {
    font-size: 22px;
}

.side-menu {
    height: 100vh;
    width: 60%;
    background-color: antiquewhite;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--light-green);
    border-left: 5px solid var(--dark-green);
}

.xmark {
    position: fixed;
    right: 0;
    margin: 1em;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu-list {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    margin-bottom: 0.25em;
}

/* .not-login-li {
    margin-left: 11em;
} */