.master-container {
    height: 25em;
    width: 100vw;
    /* background-color: var(--light-green); */
    position: static;
    z-index: 0;
    margin-top: 1em;
    padding: 1em;
    
}

.map {
    z-index: 0 !important;
    height: 100%;
    width: 100%;
}


.leaflet-control { z-index: 0 !important}
.leaflet-pane { z-index: 0 !important}
.leaflet-top, .leaflet-bottom {z-index: 0 !important}
.leaflet-bottom {z-index: 0;}

