header {
    width: 100vw;
    min-height: 3.5em;
    padding: 0.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 3.5px solid var(--dark-green);
}

.header-title {
    margin-left: 1em;
    font-size: 15px;
    font-family:'Lora', serif;
}

nav {
    display: flex;
    /* margin-left: 3em; */
}

.hamburger-menu {
    font-size: 22px;
    margin-right: 1em;
}

.side-menu {
    min-height: 100vh;
    width: 60%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 7;
    overflow-x: hidden;
    border-left: 8px solid var(--dark-green);
    transition: all 0.5s ease-in-out;
}

.no-side-menu {
    display: none;
}

.xmark-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    padding: 1em 1em 0 1em;
    transition: 1s ease-in-out;
}

.xmark {
    font-size: 22px;

}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid red; */
    padding: 1em; 
}

.nav-topic {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}

.nav-list-desktop {
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 0em 3em 4em 3em;
    background-color: white;
    border-radius: 5px;
}

.modal > .xmark {
    position: fixed;
    right: 0;
    margin-right: 0.4em;
    margin-top: 0.3em;
}

.overlay {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
}

@media screen and (min-width: 1000px) {
    .hamburger-menu {
        display: none;
    }

    .xmark-container {
        display: none;
    }

   .nav-list-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1em;
    }

   .header-title {
        margin-left: 1em;
        font-size: 25px;
        font-family:'Lora', serif;
    }

   .nav-topic {
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        list-style: none;
        margin: 0.50em;
   } 

   .nav-topic:hover {
        font-size: 21px;
        font-weight: bold;
        border-bottom: 3px solid var(--dark-green);
        cursor: pointer;
        transition: 0.3s ease-in;
   }
}